body
{
    height: 100vh;
    background-color: #4A4E69 !important;
}

.LoginPage
{
  width: 400px;
  border: 1px solid black;
  padding: 50px;
  background-color: #fff;
  border-radius: 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  & input
  {
      outline: none !important;
      box-shadow: none !important;
  }

  & input:focus
  {
    outline: none !important;
    box-shadow: none !important;
  }

  &__Email,&__Password {
    margin-bottom: 20px;

  }

  &__SubmitButton
  {
    text-align: center;
  }

  & button
  {
    width: 150px;
  }

  & .error
  {
    color:red;
  }
}
