.MessagePage
{
   display: grid;
   grid-template-columns: 30% 70%;
   grid-auto-rows: auto;
   grid-template-areas:
   "sidebar showmessage";

   &__Sidebar
   {
     grid-area: sidebar;
   }

   &__Showmessage
   {
     grid-area: showmessage;
   }

}


.SenderMessage
{
  background-color: #ACBEFD;
  text-align: right;
  margin-bottom: 10px;
  width: 200px;
  min-height: 50px;
  border-radius: 50px 10px 10px 50px;
  margin-left: auto;
  display: grid;
  align-items: center;
  padding: 5px;
}

.ReceiverMessage
{
  background-color: #F8A390;
  text-align: left;
  margin-bottom: 10px;
  width: 200px;
  min-height: 50px;
  border-radius: 10px 50px 50px 10px;
  margin-right: auto;
  display: grid;
  align-items: center;
  padding: 5px;
}
