.MessageItem
{
    &__Items
    {
      li:last-child
      {
        border-bottom: 0.1px solid black;
      }
    }


    &__SearchInput
    {
      padding:30px 25% 60px 25%;


      & input
      {
          border-radius: 50px;
          width: 100%;
          padding: 5px 20px;
      }
    }

    &__Footer
    {
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
}

.MessangerBlock
{
  width: 100%;
  display: grid;
  grid-template-columns: 20% 40%;
  grid-template-rows: auto;
  grid-template-areas:
    "image name time_count_block"
    "image message message";


  &__Image
  {
    grid-area: image;
  }

  &__Image img
  {
    border-radius: 50%;
    height:50px;
    width:50px;
  }

  &__Name
  {
    grid-area: name;
    color: blue;
  }

  &__Time
  {
    grid-area: time;
    color: grey;
    text-align: right;
  }

  &__Message
  {
    grid-area: message;
    color: grey;
  }

  &__Time-Count
  {
    grid-area: time_count_block;
  }

  &__UnseenMessageCount
  {
    grid-area: count;
    background-color: blue;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
  }
}


.MessangerBlockListItem
{
  padding: 20px;
  list-style-type: none;
  border-top: 0.1px solid black;
}
