#UserListPage
{
  background-image: url('/assets/messagebg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;

    & li
    {
      list-style-type: none;
      border-top: 0.1px solid black;
    }

    & li:last-child
    {
      border-bottom: 0.1px solid black;
    }

    & .Footer .Footer__ListItem
    {
      border: none;
    }
}

.UserListPage
{
  position: relative;

  &__OnlyFirstUser
  {
      position: absolute;
      top:50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
  }

  &__Footer
  {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

}
